
h1{
  font-family: 'Century Gothic';
  background-color: Black;
  color: white;
}

h3{
  font-family: 'Century Gothic' ;
  background-color: black;
  color: white;
}

table , ul , ol ,label, a{
  font-family: 'Century Gothic' ;
  color: white;
}

td p{
  color:white;
  font-family:'Century Gothic';
}

body{
  background-color: #212121;
}
